* {
    font-family: "JetBrains Mono";
    color: #fff;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    background-color: transparent;
    border: 0px;
}
 
/**********
**[RIGHT]**
**********/

#custom-system,
#network,
#backlight,
#pulseaudio,
#battery, 
#clock {
    padding: 6px 12px;
}
